<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/order.css">
    <title>Jet Hend</title>
    <link rel="icon" href="icons/Hotend.png">
</head>
    <body onload="randomImage()">
        <nav>
            <div class="desktopNav">
                <ul calss="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="order.html">Order</a></li>
                    <div class="nav-right">
                        <li><a href="https://github.com/jet-hend/" target="_blank">GitHub</a></li>
                        <li><a href="https://linktr.ee/jet_hend" target="_blank">linktree</a><li>
                        <li class="name">Jet_Hend</li>
                </ul>
            </div>
            <div class="phoneNav">
                <button class="container" onclick="navButton(this)"> 
                    <ul class="links">
                        <li><a style="color:transparent;">.</a></li>
                        <li calss="#"><a href="index.html">Home</a></li>
                        <li calss="#"><a href="about.html">About</a></li>
                        <li calss="#"><a href="order.html">Order</a></li>
                        <li calss="#"><a href="https://github.com/jet-hend/" target="_blank">GitHub</a></li>
                        <li class="#"><a href="https://linktr.ee/jet_hend" target="_blank">linktree</a><li>
                    </ul>
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>

        </nav>

        <h1 class="big">Thank you...</h1>
        <hr class="bar">

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
    <script type="text/javascript" src="JavaScript/order.js"></script>
</html>